<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- BootstrapのCSS読み込み -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
    <!-- BootstrapのJS読み込み -->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>title</title>
</head>

<body>

    <div>取引先管理</div>

</body>

</html>